/* Police de la page, taille et marge inférieure*/
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #222;
  margin-bottom: 50px; /*Ajout 50px d'espace en bas afin de scroller et que le footer ne gêne pas*/
}

/* Disposition flexible alignement vertical hauteur de 70px de la barre remplissage, couleur de fond et ombre*/
nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  margin-right: 30px;
}

.logo img {
  height: 55px;
}
/* Disposition flexible, répartir l'espace entre les éléments de la searchbox des bordures vertiales entre chaque elements*/
.searchbox {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  border: 1px solid #ddd;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
  border-radius: 30px;
  padding: 8px 15px 8px 15px;
  margin-left: 350px;
  margin-right: auto;
}

.searchbox svg {
  stroke: #fff;
  background-color: #FF5A5F;
  border: 5px solid #FF5A5F;
  padding: 5px;
  border-radius: 50%;
}
.search-element {
  text-align: center;
}

.vertical-line {
  border-left: 1px solid #ddd;
  height: 20px;
  margin: 0 10px;
}

.bold {
  font-weight: bold;
}

.host {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: bold;
  margin-right: 30px;
}

.host img {
  height: 20px;
  margin-right: 5px;
}

.host p {
  margin: 0;
}

.svg {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid lightgray;
  border-radius: 25px;
  padding: 7px;
}

.icons {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 21px;
  padding-block-start: 10px;
  margin-bottom: 10px;
}

.icons .filter{
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 15px;
  padding: 15px;
}

.icons .fleche{
border: 1px solid gray;
  border-radius: 100%;
  padding: 5px;
  
}
.icons figure {
  margin: 0;
}

.icons img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  width: 25%;
}

.icons figcaption {
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
  text-transform: capitalize;
}

#rangée1 {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#rangée1 img {
  width: 322px;
  height: 306px;
  margin-left: -15px;
  margin-right: -25px;
  border-radius: 5%;
}

#rangée1 figcaption {
  margin-top: 10px;
  font-size: 15px;
}

figure{
position: relative;
}

.rating1{
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  right: 0;
  margin-bottom: 4em;
  font-size: 15px; 
  
}

.rating1 .score {
  margin-left: 5px;
}

.rating2 .score{
  margin-left: 5px;
}


.rating2{
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  right: 0;
  margin-bottom: 4em;
  font-size: 15px;
  
}

.heart{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1em;
  fill: rgba(0, 0, 0, 0.5);
  height: 24px;
  width: 24px;
  stroke:white;
}

#rangée2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#rangée2 img {
  width: 322px;
  height: 306px;
  margin-left: -15px;
  margin-right: -25px;
  border-radius: 5%;
}

#rangée2 figcaption {
  margin-top: 5px;
  font-size: 15px;
}

footer a{
  text-decoration: none;
  color: black;
  margin-right: 20px;
}

.brackettop{
margin-left: -15px;
padding-right: 4em;
}

.small-globe{
  margin-left: 40px;
  width: 20px;
  height: 20px;
}

/*Positionner le footer en fixe pour qu'en scrollant il reste apparent et centrer tous les items*/
footer{
  position: fixed;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.copy{
  margin-left: auto;
}

.liste ul{
  display: flex;
  margin-left: -10px;
}



